.section{
    margin: 0;
    position: relative;
    width: 1152px;
    height: 1626px;
    background: #ffffff;
    padding: 0;
    box-sizing: border-box;
}
h1{
position: absolute;
width: 125px;
height: 35px;
left: 514px;
top: 64px;
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 35px;
}
.container{
position: relative;
width: 1152px;
height: 1626px;

background: #F9FCFC;
}
h3{
position: absolute;
width: 174px;
height: 35px;
left: 665px;
top: 179px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 35px;
color: #0D0C0C;
}
img{
position: absolute;
width: 422px;
height: 496px;
left: 92px;
top: 196px;

}
.first{
position: absolute;
width: 513px;
height: 168px;
left: 551px;
top: 301px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;

color: #0D0C0C;
}
.second{
position: absolute;
width: 513px;
height: 168px;
left: 550px;
top: 487px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
color: #0D0C0C;
}
.container2{
    position :absolute;
    width: 852px;
    height: 657px;
    left: 151px;
    top: 789px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
.h1{
    position: absolute;
    width: 321.67px;
    height: 59px;
    left: 78.58px;
    top:23px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 59px;
    color: #0D0C0C;
}
.p{
    position: absolute;
    width: 321.67px;
    height: 21px;
    left:83.58px;
    top: 124px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #0D0C0C;
}
.p1{
    position: absolute;
    width: 321.67px;
    height: 21px;
    left: 84px;
    top: 220px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #0D0C0C;   
}
.p2{
    position: absolute;
    width: 321.67px;
    height: 21px;
    left: 87px;
    top: 318px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #0D0C0C;
}
.input{
    position:absolute;
    width: 663px;
    height: 43px;
    left: 83px;
    top: 156px;
    background: #FFFFFF;
    border: 1px solid #0D0C0C;
    box-sizing: border-box;
    border-radius: 5px;
}
.input1{
    position: absolute;
    width: 663px;
    height: 43px;
    left: 87px;
    top: 252px;
    background: #FFFFFF;
    border: 1px solid #0D0C0C;
    box-sizing: border-box;
    border-radius: 5px;
}
#input2{
    position: absolute;
    width: 663px;
    height: 160px;
    left: 87px;
    top: 350px;
    background: #FFFFFF;
    border: 1px solid #0D0C0C;
    box-sizing: border-box;
    border-radius: 5px;
}
#submit{
    position: absolute;
    width: 217px;
    height: 40px;
    text-align: center;
    color: white;
    right:102px;
    top: 540px;
    background: rgba(0, 77, 230, 0.76);
    border-radius: 8px;
}
span{
    position: absolute;
    width: 67.5px;
    height: 0px;
    left: 710px;
    top: 245px;
    border: 4px solid  #D89616;
}
